page-home {
    .card{
        margin-bottom: 30px
    }
    .buttonLogin{
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 20px;
        margin-top: 10px;
    }

    .buttonFilter{
        height: 35px !important;
        margin-top: 20px
    }
}
